.header__ttl {
    height: 50%;
    width: 10%;
    margin-left: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration-line: none;

}

.header__list {
    display: flex;
    margin-top: 20px;
    color: grey;
}

.header__nav-item {
    margin-right: 20px;
}

.main-ttl {
    position: relative;
}

.main-ttl__img {
    margin: 0 0 0 auto;
    display: block;
    width: 60%;
}

.main-ttl__content {
    position: absolute;
    top: 10%;
    left: 15%;
}

.main-ttl__h1 {
    font-size: 5vw;
    font-family: MV Boli;
    margin-bottom: 20%;
    line-height: 150%;
    color: rgb(228, 21, 132);
}

.main-ttl__h2 {
    font-size: 2vw;
    margin-bottom: 10px;
    color: rgb(228, 21, 132);
}

.main-ttl__p {
    font-size: 1vw;
    line-height: 110%;
}

.main-ttl__spn {
    color: rgb(9, 175, 231);
}

.news__eng-ttl {
    margin-left: 15%;
    margin-bottom: 1%;
    padding-top: 10%;
    font-size: 1.5vw;
    font-family: MV Boli;
    color: rgb(228, 21, 132);
}

.news__jp-ttl {
    margin-left: 15%;
    font-size: 2vw;
    color: dimgray;
}

.news__ul {
    margin: 0px auto;
    border-top: solid 3px lightgrey;
    border-bottom: solid 3px lightgrey;
    width: 70%;
}

.news__li {
    list-style: none;
    font-size: 1.5vw;
    border-bottom: solid 2px lightgray;
    padding: 2% 0%;
}

.news__date {
    color: dimgray;
}

.news__btn {
    margin-left: 5%;
    background: rgb(228, 21, 132);
    padding: 0% 2%;
    border-radius: 30px;
    color: white;

}

.news__content {
    margin-left: 5%;
}

.news__a {
    color: dimgray;
}

.about {
    margin-top: 5%;
    background-color: rgb(245, 243, 243);
    padding: 3% 0%;
}

.about__body {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.about__ttl {
    margin: 0px auto;
    margin-bottom: 1%;
    font-size: 1.5vw;
    font-family: MV Boli;
    color: rgb(228, 21, 132);
    width: 5%;
}

.tc__ttl {
    margin: 0px auto;
    font-size: 2vw;
    color: dimgray;
    width: 23%;
}

.about__image {
    width: 35%;
    margin-right: 2%;
}

.about__img {
    width: 100%;
}

.about__p {
    font-size: 1.5vw;
    width: 37%;
    line-height: 170%;
    color: dimgray;
}

.about__p1 {
    margin-bottom: 5%;
}

.service__eng-ttl {
    margin-left: 10%;
    margin-bottom: 1%;
    padding-top: 10%;
    font-size: 1.5vw;
    font-family: MV Boli;
    color: rgb(228, 21, 132);
}

.service__jp-ttl {
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 2vw;
    color: dimgray;

}

.service {
    padding-bottom: 10%;
}

.grid__parent {
    width: 80%;
    margin: 0% auto;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    color: white;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(228, 21, 132);

}

.box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgba(228, 21, 131, 0.767);
    display: flex;
    justify-content: center;
}

.box3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgba(228, 21, 131, 0.397);
    display: flex;
    justify-content: center;
}

.box1__ttl {
    margin: 0% auto;
    width: 16%;
    font-size: 1.5vw;
}

.box1__p {
    font-size: 1.5vw;
    padding: 5% 8% 5% 8%;
    line-height: 150%;
}

.box1__img {}

.box1__img1 {
    width: 40%;
    margin-left: 30%;
}

.box1__content {}

.box2-3__ttl {
    font-size: 1.5vw;
    margin: 5% 0% 5% 2%;
}

.box2-3__p {
    font-size: 1.5vw;
    margin: 0% 0% 5% 2%;
    line-height: 150%;
}

.box2-3__img {
    width: 160%;
}

.box2-3__img1 {
    width: 100%;
}

.box2-3__content {
    width: 350%;
}

.blog {
    background-color: rgb(245, 243, 243);
    padding-bottom: 5%;
}

.blog__eng-ttl {
    margin-left: 10%;
    margin-bottom: 1%;
    padding-top: 5%;
    font-size: 1.5vw;
    font-family: MV Boli;
    color: rgb(228, 21, 132);
}

.blog__jp-ttl {
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 2vw;
    color: dimgray;
}

.card__parent {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 10px;
    width: 25%;
    margin-left: 5%;
}

.card__img {
    background-image: url(../img/blog__first.jpg);
    background-size: contain;
    padding-bottom: 60%;
    border-radius: 10px 10px 0 0;
}

.card-ttl {
    font-size: 1.5vw;
    padding: 2% 3%;
    background-color: rgb(228, 21, 132);
    color: white;
    border-top-left-radius: 10px;
    width: 15%;
}

.card__content {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.card__p {
    font-size: 1.5vw;
    color: dimgray;
    font-weight: bold;
    padding: 10% 3% 3% 3%;
}

.date-tag {
    font-size: 1.5vw;
    color: gray;
    display: flex;
    justify-content: space-between;
    padding: 10% 3% 10% 3%;
    border-radius: 0px 0px 10px 10px;
}

.blog__btn {
    border: 2px solid rgb(228, 21, 132);
    color: rgb(228, 21, 132);
    font-size: 1.5vw;
    text-align: center;
    display: block;
    margin: 5% auto 0;
    width: 15%;
    border-radius: 50px;
    padding: 2% 3%;
    background-color: white;
    font-weight: bold;
}

.company__eng-ttl {
    margin-left: 15%;
    margin-bottom: 1%;
    padding-top: 5%;
    font-size: 1.5vw;
    font-family: MV Boli;
    color: rgb(228, 21, 132);
}

.company__jp-ttl {
    margin-left: 15%;
    margin-bottom: 3%;
    font-size: 2vw;
    color: dimgray;
}

table,
th,
td {
    border: 1px solid lightgray;
}

.company__table {
    width: 70%;
    margin: 0% auto;
}

.company__th {
    text-align: left;
    padding: 2% 0% 2% 2%;
    color: dimgray;
    background-color: rgb(245, 243, 243);
    font-size: 1.5vw;
}

.company__td {
    padding: 2% 0% 2% 2%;
    color: dimgray;
    font-size: 1.5vw;
}

.company {
    padding-bottom: 5%;
}

.background__img {
    display: flex;
}

.background__img1 {
    width: 50%;
    background-image: url(../img/recruit.png);
    background-size: contain;
}

.background__img2 {
    width: 50%;
    background-image: url(../img/interview.png);
    background-size: contain;
}

.background__content {
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20% 0%;
}

.background__link {
    color: white;
}

.form {
    padding-bottom: 5%;
}

.form__p {
    text-align: center;
    margin-top: 8%;
    font-size: 1.5vw;
    color: dimgray;
    font-weight: bold;
}

.form__stick {
    border-left: 2px solid rgb(228, 21, 132);
    padding: 1.5% 0;
    margin: 1% 0 1% 50%;
}

.form-btn {
    position: relative;
    background: linear-gradient(90deg, rgb(244, 64, 160), rgb(181, 23, 107));
    width: 20%;
    display: block;
    padding: 2%;
    text-align: center;
    color: #fff;
    font-size: 1.5vw;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 100px;
    margin: 0 auto;
    box-shadow: 0 6px 0 rgb(131, 13, 75);
}

.form-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    background: url(../img/mailicon.jpg) no-repeat;
    background-size: cover;
    width: 10%;
    height: 40%;
    transform: translateY(-50%);
}

.footer__small {
    background-color: rgb(245, 243, 243);
    padding: 2% 0;
}

small {
    color: gray;
    font-size: 1vw;
    text-align: center;
    display: block;
}